<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <![endif]-->
    <title>Laapp - App Landing Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/laapp.min.css">
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]--><!-- Main Navigation -->
<nav class="navbar navbar-expand-md main-nav navigation fixed-top sidebar-left">
    <div class="container">
        <button class="navbar-toggler" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a href="alter-1.html#main" class="navbar-brand"><img src="img/logo.png" alt="Laapp" class="logo logo-sticky d-block d-md-none"> <img src="img/logo-light.png" alt="Laapp" class="logo d-none d-md-block"></a>
        <div class="collapse navbar-collapse" id="main-navbar">
            <div class="sidebar-brand"><a href="index.html"><img src="img/logo.png" alt="Laapp Template" class="logo"></a></div>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link scrollto" href="alter-1.html#home">Home</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="alter-1.html#features">Features</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="alter-1.html#product">Product</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="alter-1.html#pricing">Pricing</a></li>
                <li class="nav-item"><a class="nav-link scrollto" href="alter-1.html#trial">Trial</a></li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <!-- Alternative 1 Heading -->
    <header class="header alter1-header section text-contrast" id="home">
        <div class="shapes-container">
            <div class="shape shape-animated" data-aos="fade-down-left" data-aos-duration="1500" data-aos-delay="100"></div>
            <div class="shape shape-animated" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
            <div class="shape shape-animated" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200"></div>
            <div class="shape shape-animated" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>
            <div class="shape shape-animated" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
            <div class="shape shape-animated" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
            <div class="shape shape-animated" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300"></div>
            <div class="shape shape-animated" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="200"></div>
            <div class="shape shape-animated" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="100"></div>
            <div class="shape shape-animated" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="500"></div>
            <div class="shape shape-animated" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="200"></div>
            <div class="shape shape-animated" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="100"></div>
            <div class="shape shape-animated" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"></div>
            <div class="shape shape-animated" data-aos="fade-down" data-aos-duration="500" data-aos-delay="0"></div>
            <div class="shape shape-animated" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="100"></div>
            <div class="shape shape-animated" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="0"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="rounded-pill shadow-box bg-contrast text-dark bold py-2 px-4"><i class="far fa-lightbulb text-primary mr-2"></i> <span class="text-primary">Awesome</span> Landing Page</span>
                    <h1 class="text-contrast display-4 display-md-3"><span class="bold">Laapp</span></h1>
                    <p class="lead bold">Premium Startup & App Landing Page</p>
                    <p class="lead">Besides its beautiful design. Laapp is an incredibly rich core framework for you to showcase your App.</p>
                    <nav class="nav my-5"><a href="alter-1.html#!" class="btn btn-rounded btn-alternate mr-2 mr-md-5">Buy now <i class="fas fa-long-arrow-alt-right ml-2"></i></a> <a href="alter-1.html#demos" class="btn btn-rounded btn-contrast scrollto">Explore demos</a></nav>
                </div>
                <div class="col-md-6">
                    <div class="iphone front mx-auto">
                        <div class="screen shadow-box"><img src="img/screens/app/9.png" alt="..."></div>
                        <div class="notch"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Features -->
    <section class="section mt-6n" id="features">
        <div class="container pt-0">
            <div class="bg-contrast shadow rounded p-5">
                <div class="row gap-y">
                    <div class="col-md-4">
                        <div class="icon-box rounded gradient gradient-primary-light text-contrast shadow icon-xl"><i class="icon m-0 pe pe-7s-paint-bucket pe-3x"></i></div>
                        <h4 class="semi-bold mt-4 text-capitalize">themes made easy</h4>
                        <hr class="w-25 bw-2 border-alternate mt-3 mb-4">
                        <p class="regular text-muted">Our astonishing style structure makes your customization process a breeze</p>
                    </div>
                    <div class="col-md-4">
                        <div class="icon-box rounded gradient gradient-primary-light text-contrast shadow icon-xl"><i class="icon m-0 pe pe-7s-diamond pe-3x"></i></div>
                        <h4 class="semi-bold mt-4 text-capitalize">powerful design</h4>
                        <hr class="w-25 bw-2 border-alternate mt-3 mb-4">
                        <p class="regular text-muted">With ready-to-use content you&#39;ll deploy your implementation in no time</p>
                    </div>
                    <div class="col-md-4">
                        <div class="icon-box rounded gradient gradient-primary-light text-contrast shadow icon-xl"><i class="icon m-0 pe pe-7s-light pe-3x"></i></div>
                        <h4 class="semi-bold mt-4 text-capitalize">creative content</h4>
                        <hr class="w-25 bw-2 border-alternate mt-3 mb-4">
                        <p class="regular text-muted">Repetitive styles all across the web? Nevermind that! Shine with unique styles</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section Proposal -->
    <section class="section our-proposal">
        <div class="shapes-container">
            <div class="shape shape-circle pattern-dots" data-aos="fade-up" data-aos-delay="200"></div>
            <div class="shape shape-circle shape-circle-fill" data-aos="fade-up"></div>
            <div class="pattern pattern-dots"></div>
        </div>
        <div class="container bring-to-front">
            <div class="row align-items-center">
                <div class="col-md-6 order-md-last">
                    <figure class="mockup" style="width: 920px; max-width: 100%;"><img src="img/screens/wmockup/1.png" class="img-responsive" alt="..."></figure>
                </div>
                <div class="col-md-6">
                    <h2 class="heading-line">Our Landing Page proposal</h2>
                    <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum exercitationem impedit perspiciatis quis voluptas. Accusamus eligendi iusto laborum mollitia nostrum nulla optio perferendis, repellendus rerum similique suscipit temporibus vero voluptatibus!</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Powerful Features -->
    <section class="section alter3-features" id="features">
        <div class="shapes-container">
            <div class="shape shape-ring shape-ring-1">
                <div class="animation animation--rotating"></div>
            </div>
            <div class="shape shape-ring shape-ring-2">
                <div class="animation animation--rotating"></div>
            </div>
            <div class="shape shape-circle animation--clockwise">
                <div></div>
            </div>
            <div class="shape background-shape-main"></div>
        </div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 order-lg-last">
                    <div class="section-heading">
                        <p class="px-2 text-alternate text-uppercase bold">Powerful features await for you</p>
                        <h2 class="heading-line">A complete feature stack ready to help you</h2>
                        <p class="lead text-muted my-4 semi-bold">Laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscig elit, sed do eiusmod tempor incididunt ut labore aliqua. Ut enim adi minim veniam, quis nostrud exercitation</p>
                        <a href="alter-1.html#!" class="more-link btn btn-primary text-contrast bold">Know More</a>
                    </div>
                </div>
                <div class="col-lg-7 pr-lg-6">
                    <div class="row">
                        <div class="col-lg-6 rotated-cards">
                            <div data-aos="fade-down" data-aos-delay="0">
                                <div class="card border-0 shadow mb-5 tilt">
                                    <div class="card-body py-5 px-4">
                                        <div class="icon-box rounded-circle gradient gradient-primary-light text-contrast shadow icon-xl mb-3"><i class="icon m-0 pe pe-7s-paint-bucket pe-3x"></i></div>
                                        <h4 class="bold mb-5">Customizable</h4>
                                        <p class="text-muted lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                    </div>
                                </div>
                            </div>
                            <div data-aos="fade-down" data-aos-delay="500">
                                <div class="card border-0 shadow mb-5 tilt">
                                    <div class="card-body py-5 px-4">
                                        <div class="icon-box rounded-circle gradient gradient-primary-light text-contrast shadow icon-xl mb-3"><i class="icon m-0 pe pe-7s-diamond pe-3x"></i></div>
                                        <h4 class="bold mb-5">Powerful Design</h4>
                                        <p class="text-muted lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 rotated-cards">
                            <div data-aos="fade-down" data-aos-delay="800">
                                <div class="card border-0 shadow mb-5 tilt">
                                    <div class="card-body py-5 px-4">
                                        <div class="icon-box rounded-circle gradient gradient-primary-light text-contrast shadow icon-xl mb-3"><i class="icon m-0 pe pe-7s-light pe-3x"></i></div>
                                        <h4 class="bold mb-5">Creative</h4>
                                        <p class="text-muted lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                    </div>
                                </div>
                            </div>
                            <div data-aos="fade-down" data-aos-delay="1200">
                                <div class="card border-0 shadow mb-5 tilt">
                                    <div class="card-body py-5 px-4">
                                        <div class="icon-box rounded-circle gradient gradient-primary-light text-contrast shadow icon-xl mb-3"><i class="icon m-0 pe pe-7s-cash pe-3x"></i></div>
                                        <h4 class="bold mb-5">Affordable</h4>
                                        <p class="text-muted lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Powered Design Blocks -->
    <section class="section powered-design" id="product">
        <div class="shapes-container">
            <div class="shape shape-circle shape-circle-1">
                <div data-aos="fade-up-left" data-aos-duration="1500"></div>
            </div>
            <div class="shape shape-circle shape-circle-2">
                <div data-aos="fade-up-left" data-aos-duration="1200" data-aos-delay="500"></div>
            </div>
            <div class="shape shape-ring animation--rotating-diagonal">
                <div></div>
            </div>
            <div class="shape shape-triangle shape-animated">
                <div class="animation--rotating"></div>
            </div>
            <div class="shape pattern-dots-1"></div>
        </div>
        <div class="container">
            <div class="row gap-y align-items-center">
                <div class="col-md-6">
                    <div class="section-heading">
                        <h2 class="heading-line">Powered with multiple design blocks</h2>
                        <p class="lead text-muted">Unlock the power of Web Design. Laapp comes with multiple reusable code blocks you can use to build awesome web pages.</p>
                    </div>
                    <a href="alter-1.html#!" class="btn btn-outline-alternate more-link mt-0">Now is the time</a>
                </div>
                <div class="col-md-6">
                    <div class="rounded tilt overflow-hidden shadow-box shadow-hover bg-contrast">
                        <figure><img src="img/screens/app/pieces/1.png" class="img-responsive" alt=""></figure>
                    </div>
                    <div class="rounded tilt overflow-hidden shadow-box shadow-hover bg-contrast mt-5">
                        <figure><img src="img/screens/app/pieces/2.png" class="img-responsive" alt=""></figure>
                    </div>
                    <div class="rounded tilt overflow-hidden shadow-box shadow-hover bg-contrast mt-5">
                        <figure><img src="img/screens/app/pieces/3.png" class="img-responsive" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features you can't miss -->
    <section class="section features-cant-miss">
        <div class="shapes-container overflow-clear">
            <div class="shape shape-circle shape-circle-1">
                <div data-aos="fade-up-left"></div>
            </div>
            <div class="shape shape-circle shape-circle-2">
                <div data-aos="fade-up-right" data-aos-delay="200"></div>
            </div>
            <div class="shape shape-circle shape-circle-3">
                <div data-aos="fade-up-left" data-aos-delay="400"></div>
            </div>
            <div class="shape shape-circle shape-circle-4">
                <div data-aos="fade-up-left" data-aos-delay="600"></div>
            </div>
            <div class="shape shape-triangle shape-animated">
                <div class="animation--rotating"></div>
            </div>
        </div>
        <div class="container">
            <div class="row gap-y">
                <div class="col-md-6 order-md-last">
                    <div class="section-heading">
                        <i class="fas fa-trophy fa-2x text-danger mb-3"></i>
                        <h2 class="heading-line">Features you can't miss</h2>
                    </div>
                    <ul class="list-unstyled">
                        <li class="media flex-column flex-md-row text-center text-md-left">
                            <i class="mx-auto mr-md-3 mx-auto mr-md-3 accent pe pe-7s-mail pe-3x"></i>
                            <div class="media-body mt-3 mt-md-0">
                                <h5 class="bold mt-0 mb-1">Mail Management</h5>
                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut autem eum laudantium quas recusandae repellendus voluptate.</p>
                            </div>
                        </li>
                        <li class="media flex-column flex-md-row text-center text-md-left mt-4">
                            <i class="mx-auto mr-md-3 mx-auto mr-md-3 accent pe pe-7s-users pe-3x"></i>
                            <div class="media-body mt-3 mt-md-0">
                                <h5 class="bold mt-0 mb-1">Customers Tracking</h5>
                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut autem eum laudantium quas recusandae repellendus voluptate.</p>
                            </div>
                        </li>
                        <li class="media flex-column flex-md-row text-center text-md-left mt-4">
                            <i class="mx-auto mr-md-3 mx-auto mr-md-3 accent pe pe-7s-graph1 pe-3x"></i>
                            <div class="media-body mt-3 mt-md-0">
                                <h5 class="bold mt-0 mb-1">Advanced Reporting</h5>
                                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut autem eum laudantium quas recusandae repellendus voluptate.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="bubble bubble-left center-x-md">
                        <figure class="rounded overflow-hidden shadow" data-aos="zoom-in"><img src="img/screens/app/pieces/4.png" class="img-responsive" alt=""></figure>
                    </div>
                    <figure class="bubble bubble-right rounded overflow-hidden shadow"><img src="img/screens/app/pieces/5.png" class="img-responsive" alt="" data-aos="fade-left"></figure>
                    <div class="iphone light">
                        <div class="screen shadow-box"><img src="img/screens/app/6.png" alt="..."></div>
                        <div class="notch"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing -->
    <section class="section pricing-plans" id="pricing">
        <div class="shapes-container overflow-clear">
            <div class="shape shape-1"></div>
            <div class="shape shape-2"></div>
            <div class="shape shape-3"></div>
            <div class="shape shape-4"></div>
            <i class="icon pe pe-7s-cash pe-3x" data-aos="fade-down"></i> <i class="icon fas fa-dollar-sign fa-3x" data-aos="fade-up"></i> <i class="icon pe pe-7s-piggy pe-3x" data-aos="fade-up"></i> <i class="icon pe pe-7s-cart pe-3x" data-aos="fade-left"></i> <i class="icon far fa-credit-card fa-3x" data-aos="fade-down"></i> <i class="icon far fa-money-bill-alt fa-3x" data-aos="fade-up"></i>
        </div>
        <div class="container">
            <div class="section-heading text-center">
                <span class="rounded-pill shadow-box bold py-2 px-4"><i class="far fa-lightbulb text-primary mr-2"></i> <span class="text-primary">Save more</span> with these awesome plans</span>
                <h2 class="mt-3 heading-line">Transparent pricing</h2>
                <p class="lead text-muted">Our plans have everything you need to take your app to the next level. <span class="highlight">No hidden fees.</span></p>
                <div id="pricing-basis-options" class="btn-group btn-group-toggle mt-5" data-toggle="buttons"><label class="btn btn-secondary active"><input type="radio" name="pricing-basis" value="monthly" checked="checked"> Monthly</label> <label class="btn btn-secondary"><input type="radio" name="pricing-basis" value="yearly"> Yearly</label></div>
            </div>
            <div class="row no-gutters align-items-center pricing-plans-options">
                <div class="col-lg-4 pricing-plan plan-basic order-md-first">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-alternate bold text-capitalize">basic</h4>
                            <p>For individuals</p>
                            <div class="pricing-details"><span class="pricing-value"><span class="odometer price" data-monthly="0" data-yearly="0">0</span></span></div>
                            <a href="alter-1.html#!" class="more-link btn btn-outline-alternate mb-3">I want this</a>
                        </div>
                        <hr>
                        <div class="d-none d-md-flex">
                            <ul class="list-group list-group-flush list-group-no-border">
                                <li class="list-group-item">Lorem ipsum dolor sit amet</li>
                                <li class="list-group-item">Dicta doloremque</li>
                                <li class="list-group-item">Consectetur fuga inventore</li>
                                <li class="list-group-item">Alias animi, assumenda atque</li>
                                <li class="list-group-item">Accusamus adipisci aspernatur</li>
                            </ul>
                        </div>
                        <div class="d-md-none">
                            <button type="button" class="more-link btn btn-link d-flex align-items-center mx-auto" data-toggle="modal" data-target="#basic-plan-modal-basic">View plan details</button>
                            <div class="modal" id="basic-plan-modal-basic">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title bold text-capitalize">basic plan</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body plan-features">
                                            <ul class="list-group list-group-flush text-center">
                                                <li class="list-group-item border-top-0">Lorem ipsum dolor sit amet</li>
                                                <li class="list-group-item">Dicta doloremque</li>
                                                <li class="list-group-item">Consectetur fuga inventore</li>
                                                <li class="list-group-item">Alias animi, assumenda atque</li>
                                                <li class="list-group-item">Accusamus adipisci aspernatur</li>
                                                <li class="list-group-item">Delectus earum iste nobis</li>
                                                <li class="list-group-item">Accusamus alias amet at</li>
                                                <li class="list-group-item">Accusamus alias aliquid</li>
                                                <li class="list-group-item">Animi blanditiis eveniet</li>
                                                <li class="list-group-item">Ab aliquid amet consequatur</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pricing-plan plan-enterprise order-md-last">
                    <div class="p-5">
                        <div class="text-center">
                            <h4 class="text-alternate bold text-capitalize">enterprise</h4>
                            <p>For large companies</p>
                            <div class="pricing-details"><span class="pricing-value"><span class="odometer price" data-monthly="19.99" data-yearly="14.99">19.99</span></span></div>
                            <a href="alter-1.html#!" class="more-link btn btn-outline-alternate mb-3">I want this</a>
                        </div>
                        <hr>
                        <div class="d-none d-md-flex">
                            <ul class="list-group list-group-flush list-group-no-border">
                                <li class="list-group-item">Lorem ipsum dolor sit amet</li>
                                <li class="list-group-item">Dicta doloremque</li>
                                <li class="list-group-item">Consectetur fuga inventore</li>
                                <li class="list-group-item">Alias animi, assumenda atque</li>
                                <li class="list-group-item">Accusamus adipisci aspernatur</li>
                            </ul>
                        </div>
                        <div class="d-md-none">
                            <button type="button" class="more-link btn btn-link d-flex align-items-center mx-auto" data-toggle="modal" data-target="#basic-plan-modal-enterprise">View plan details</button>
                            <div class="modal" id="basic-plan-modal-enterprise">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title bold text-capitalize">enterprise plan</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body plan-features">
                                            <ul class="list-group list-group-flush text-center">
                                                <li class="list-group-item border-top-0">Lorem ipsum dolor sit amet</li>
                                                <li class="list-group-item">Dicta doloremque</li>
                                                <li class="list-group-item">Consectetur fuga inventore</li>
                                                <li class="list-group-item">Alias animi, assumenda atque</li>
                                                <li class="list-group-item">Accusamus adipisci aspernatur</li>
                                                <li class="list-group-item">Delectus earum iste nobis</li>
                                                <li class="list-group-item">Accusamus alias amet at</li>
                                                <li class="list-group-item">Accusamus alias aliquid</li>
                                                <li class="list-group-item">Animi blanditiis eveniet</li>
                                                <li class="list-group-item">Ab aliquid amet consequatur</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pricing-plan plan-business best-value">
                    <div class="p-5 py-md-6">
                        <div class="text-center">
                            <h4 class="text-primary bold text-capitalize">business</h4>
                            <p>For small business</p>
                            <div class="pricing-details"><span class="pricing-value"><span class="odometer price" data-monthly="49.99" data-yearly="39.99">49.99</span></span></div>
                            <a href="alter-1.html#!" class="more-link btn btn-alternate mb-3">I want this</a>
                        </div>
                        <hr>
                        <div class="d-none d-md-flex">
                            <ul class="list-group list-group-flush list-group-no-border">
                                <li class="list-group-item">Lorem ipsum dolor sit amet</li>
                                <li class="list-group-item">Dicta doloremque</li>
                                <li class="list-group-item">Consectetur fuga inventore</li>
                                <li class="list-group-item">Alias animi, assumenda atque</li>
                                <li class="list-group-item">Accusamus adipisci aspernatur</li>
                            </ul>
                        </div>
                        <div class="d-md-none">
                            <button type="button" class="more-link btn btn-link d-flex align-items-center mx-auto" data-toggle="modal" data-target="#basic-plan-modal-business">View plan details</button>
                            <div class="modal" id="basic-plan-modal-business">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title bold text-capitalize">business plan</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>
                                        <div class="modal-body plan-features">
                                            <ul class="list-group list-group-flush text-center">
                                                <li class="list-group-item border-top-0">Lorem ipsum dolor sit amet</li>
                                                <li class="list-group-item">Dicta doloremque</li>
                                                <li class="list-group-item">Consectetur fuga inventore</li>
                                                <li class="list-group-item">Alias animi, assumenda atque</li>
                                                <li class="list-group-item">Accusamus adipisci aspernatur</li>
                                                <li class="list-group-item">Delectus earum iste nobis</li>
                                                <li class="list-group-item">Accusamus alias amet at</li>
                                                <li class="list-group-item">Accusamus alias aliquid</li>
                                                <li class="list-group-item">Animi blanditiis eveniet</li>
                                                <li class="list-group-item">Ab aliquid amet consequatur</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-0 border-bottom">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="text-center text-md-left">
                        <h4 class="bold accent">Not sure what's better for you?</h4>
                        <p class="mt-0">You can start for free, as long as you fell in love with our App you can decide what plan better suites your needs. <span class="italic dotted">By picking any of the pay plans you'll get 30 days free trial.</span></p>
                    </div>
                </div>
                <div class="col-md-4 text-center text-md-right"><a href="alter-1.html#!" class="btn btn-primary btn-lg text-contrast p-4 more-link ml-md-auto">Try it now !</a></div>
            </div>
        </div>
    </section>
    <!-- Integrations -->
    <section class="section integration-bubbles">
        <div class="container overflow-hidden">
            <div class="row">
                <div class="col-md-6">
                    <div class="bubbles-wrapper">
                        <div class="animations m-0">
                            <div class="bubble bg-contrast rounded-circle p-2 shadow icon icon-md"><img src="img/demo/header/apx.svg" alt="" class="img-responsive"> <span class="badge badge-contrast shadow-box">Autoprefixer</span></div>
                            <div class="bubble bg-contrast rounded-circle p-2 shadow icon icon-xxl"><img src="img/demo/header/bs.svg" alt="" class="img-responsive"> <span class="badge badge-contrast shadow-box">Bootstrap</span></div>
                            <div class="bubble bg-contrast rounded-circle p-2 shadow icon icon-lg"><img src="img/demo/header/cordova.svg" alt="" class="img-responsive"> <span class="badge badge-contrast shadow-box">Cordova</span></div>
                            <div class="bubble bg-contrast rounded-circle p-2 shadow icon icon-xl"><img src="img/demo/header/css.svg" alt="" class="img-responsive"> <span class="badge badge-contrast shadow-box">CSS</span></div>
                            <div class="bubble bg-contrast rounded-circle p-2 shadow icon icon-md"><img src="img/demo/header/fa.svg" alt="" class="img-responsive"> <span class="badge badge-contrast shadow-box">Fontawesome</span></div>
                            <div class="bubble bg-contrast rounded-circle p-2 shadow icon icon-lg"><img src="img/demo/header/html.svg" alt="" class="img-responsive"> <span class="badge badge-contrast shadow-box">HTML</span></div>
                            <div class="bubble bg-contrast rounded-circle p-2 shadow icon icon-md"><img src="img/demo/header/js.svg" alt="" class="img-responsive"> <span class="badge badge-contrast shadow-box">Javascript</span></div>
                            <div class="bubble bg-contrast rounded-circle p-2 shadow icon icon-xl"><img src="img/demo/header/npm.svg" alt="" class="img-responsive"> <span class="badge badge-contrast shadow-box">Npm</span></div>
                            <div class="bubble bg-contrast rounded-circle p-2 shadow icon icon-lg"><img src="img/demo/header/sass.svg" alt="" class="img-responsive"> <span class="badge badge-contrast shadow-box">SASS</span></div>
                            <div class="bubble bg-contrast rounded-circle p-2 shadow icon icon-xxl"><img src="img/demo/header/apx.svg" alt="" class="img-responsive"> <span class="badge badge-contrast shadow-box">Autoprefixer</span></div>
                            <div class="bubble bg-contrast rounded-circle p-2 shadow icon icon-md"><img src="img/demo/header/bs.svg" alt="" class="img-responsive"> <span class="badge badge-contrast shadow-box">Bootstrap</span></div>
                            <div class="bubble bg-contrast rounded-circle p-2 shadow icon icon-xl"><img src="img/demo/header/cordova.svg" alt="" class="img-responsive"> <span class="badge badge-contrast shadow-box">Cordova</span></div>
                            <div class="bubble bg-contrast rounded-circle p-2 shadow icon icon-md"><img src="img/demo/header/css.svg" alt="" class="img-responsive"> <span class="badge badge-contrast shadow-box">CSS</span></div>
                            <div class="bubble bg-contrast rounded-circle p-2 shadow icon icon-xxl"><img src="img/demo/header/fa.svg" alt="" class="img-responsive"> <span class="badge badge-contrast shadow-box">Fontawesome</span></div>
                            <div class="bubble bg-contrast rounded-circle p-2 shadow icon icon-lg"><img src="img/demo/header/html.svg" alt="" class="img-responsive"> <span class="badge badge-contrast shadow-box">HTML</span></div>
                            <div class="bubble bg-contrast rounded-circle p-2 shadow icon icon-xl"><img src="img/demo/header/js.svg" alt="" class="img-responsive"> <span class="badge badge-contrast shadow-box">Javascript</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="section-heading">
                        <p class="text-alternate text-uppercase bold">Extending core</p>
                        <h2 class="heading-line">Integrations to make it better</h2>
                        <p class="lead text-muted">Ever wonder about the wonder of Laap: We count on hundreds of friends contributing day by day to make Laapp a wonderful tool</p>
                    </div>
                    <a href="alter-1.html#!" class="more-link">Explore all integration</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Why Choose Us -->
    <section class="section why-choose-us">
        <div class="shapes-container">
            <div class="pattern pattern-dots"></div>
        </div>
        <div class="container pb-8 bring-to-front">
            <div class="section-heading text-center">
                <h2 class="heading-line">Why you should choose Laap?</h2>
                <p class="text-muted lead mx-auto">Laapp is designed to provide you with the last trends in web design. It'll help you to focus on your product, launch your website faster and reach more customer.</p>
            </div>
            <div class="row gap-y">
                <div class="col-md-6">
                    <h4 class="bold text-alternate">It all start by choosing the right tools</h4>
                    <p class="text-muted lead mb-5">When you're looking for a template you want it to stand-out. Laapp comes with many customizable components.</p>
                    <ul class="list-unstyled why-icon-list">
                        <li class="list-item">
                            <div class="media align-items-center">
                                <div class="icon-shape mr-3">
                                    <div class="shape shape-pipes"></div>
                                    <i class="icon text-alternate fas fa-plug fa-3x"></i>
                                </div>
                                <div class="media-body">
                                    <h5 class="bold">Integrations</h5>
                                    <p class="my-0">Aut debitis deserunt ea explicabo hic id incidunt, minus</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="media align-items-center">
                                <div class="icon-shape mr-3">
                                    <div class="shape shape-pipes"></div>
                                    <i class="icon text-alternate fas fa-heart fa-3x"></i>
                                </div>
                                <div class="media-body">
                                    <h5 class="bold">Marketing</h5>
                                    <p class="my-0">Aliquam amet assumenda debitis dicta distinctio eaque enim</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="media align-items-center">
                                <div class="icon-shape mr-3">
                                    <div class="shape shape-pipes"></div>
                                    <i class="icon text-alternate fas fa-headphones fa-3x"></i>
                                </div>
                                <div class="media-body">
                                    <h5 class="bold">Support</h5>
                                    <p class="my-0">Consequatur doloremque illum libero nam. Hic, vitae?</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <hr class="my-5">
                    <div class="text-center text-md-left"><a href="alter-1.html#!" class="btn btn-primary text-contrast">Know More</a></div>
                </div>
                <div class="col-md-6">
                    <div class="rotated-mockups device-twin">
                        <div class="browser absolute shadow-lg"><img src="img/screens/tablet/1.png" alt="..."></div>
                        <div class="front iphone light">
                            <div class="screen"><img src="img/screens/app/1.png" alt="..."></div>
                            <div class="notch"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQs -->
    <section class="section faqs-dd bg-light edge top-left">
        <div class="shapes-container">
            <div class="absolute icon" data-aos="fade-down-left"><i class="fas fa-question"></i></div>
        </div>
        <div class="container">
            <div class="section-heading text-center">
                <h2 class="heading-line">Frequently Asked Questions</h2>
                <p class="lead">Want to know more about our services?</p>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-lg-auto">
                    <div data-aos="fade-up">
                        <div class="card shadow-box shadow-hover mb-3">
                            <div class="card-header py-3"><a href="alter-1.html#" class="card-title collapsed" data-toggle="collapse" data-target="#v1-q1">What does the package include?</a></div>
                            <div id="v1-q1" class="collapse card-body">When you buy Dashcore, you get all you see in the demo but the images. We include SASS files for styling, complete JS files with comments, all HTML variations. Besides we include all mobile PSD mockups.</div>
                        </div>
                    </div>
                    <div data-aos="fade-up">
                        <div class="card shadow-box shadow-hover mb-3">
                            <div class="card-header py-3"><a href="alter-1.html#" class="card-title collapsed" data-toggle="collapse" data-target="#v1-q2">What is the typical response time for a support question?</a></div>
                            <div id="v1-q2" class="collapse card-body">Since you report us a support question we try to make our best to find out what is going on, depending on the case it could take more or les time, however a standard time could be minutes or hours.</div>
                        </div>
                    </div>
                    <div data-aos="fade-up">
                        <div class="card shadow-box shadow-hover mb-3">
                            <div class="card-header py-3"><a href="alter-1.html#" class="card-title collapsed" data-toggle="collapse" data-target="#v1-q3">What do I need to know to customize this template?</a></div>
                            <div id="v1-q3" class="collapse card-body">Our documentation give you all you need to customize your copy. However you will need some basic web design knowledge (HTML, Javascript and CSS)</div>
                        </div>
                    </div>
                    <div data-aos="fade-up">
                        <div class="card shadow-box shadow-hover mb-3">
                            <div class="card-header py-3"><a href="alter-1.html#" class="card-title collapsed" data-toggle="collapse" data-target="#v1-q4">Can I suggest a new feature?</a></div>
                            <div id="v1-q4" class="collapse card-body">Definitely <span class="bold">Yes</span>, you can contact us to let us know your needs. If your suggestion represents any value to both we can include it as a part of the theme or you can request a custom build by an extra cost. Please note it could take some time in order for the feature to be implemented.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Start For Free -->
    <section class="section start-free" id="trial">
        <div class="shapes-container"><i class="icon pe pe-7s-hourglass pe-3x"></i> <i class="icon pe pe-7s-magic-wand pe-3x"></i> <i class="icon pe pe-7s-rocket pe-3x"></i> <i class="icon pe pe-7s-plugin pe-3x"></i> <i class="icon pe pe-7s-like pe-3x"></i> <i class="icon pe pe-7s-clock pe-3x"></i> <i class="icon pe pe-7s-smile pe-3x"></i> <i class="icon pe pe-7s-piggy pe-3x"></i> <i class="icon pe pe-7s-shield pe-3x"></i> <i class="icon pe pe-7s-server pe-3x"></i></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="section-heading text-center">
                        <i class="pe pe-7s-unlock fa-3x text-alternate"></i>
                        <h2 class="heading-line bold mt-4">Start your 15 days free trial now!</h2>
                        <p class="lead text-muted">By signing up you will get 15 days free trial. You won't be charged until the trial period ends, <span class="italic">don't let this offer pass in from of your eyes</span></p>
                    </div>
                </div>
            </div>
            <div class="nav flex-column flex-md-row align-items-center justify-content-center"><a href="alter-1.html#!" class="btn btn-alternate btn-lg py-3 px-4 bold mr-0 mr-md-3 mb-3 mb-md-0">Sign up</a> <a href="mailto:support@5studios.net" class="btn btn-outline-dark btn-lg py-3 px-4 bold">Contact us</a></div>
        </div>
    </section>
    <!-- Stay Tunned -->
    <section class="section stay-tunned">
        <div class="container bring-to-front">
            <div class="shadow rounded p-5 bg-contrast overflow-hidden">
                <div class="section-heading text-center">
                    <h2 class="heading-line">Stay tunned</h2>
                    <p class="lead text-alternate">By registering with us you will receive right in your inbox all new features and updates</p>
                </div>
                <div class="mx-auto position-relative form-wrapper">
                    <form action="srv/register.php" class="form text-center" data-response-message-animation="slide-in-left" novalidate>
                        <div class="form-group input--group"><input id="subscribe-email" type="email" name="Subscribe[email]" class="form-control form-control-lg text-center" placeholder="Enter your email" required></div>
                        <button type="submit" class="btn btn-lg btn-alternate">Register</button>
                    </form>
                    <div class="response-message">
                        <i class="fas fa-envelope font-lg"></i>
                        <p class="font-md m-0">Check your email</p>
                        <p class="response">We sent you an email with a link to get started. You’ll be in your account in no time.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer -->
<footer class="site-footer section bg-dark text-contrast edge top-left">
    <div class="container py-3">
        <div class="row gap-y text-center text-md-left">
            <div class="col-md-4 mr-auto">
                <img src="img/logo-light.png" alt="" class="logo">
                <p>Laapp, a carefully crafted and powerful HTML5 template, it's perfect to showcase your App or Startup</p>
            </div>
            <div class="col-md-2">
                <nav class="nav flex-column"><a class="nav-item py-2 text-contrast" href="alter-1.html#">About</a> <a class="nav-item py-2 text-contrast" href="alter-1.html#">Services</a> <a class="nav-item py-2 text-contrast" href="alter-1.html#">Blog</a></nav>
            </div>
            <div class="col-md-2">
                <nav class="nav flex-column"><a class="nav-item py-2 text-contrast" href="alter-1.html#">Features</a> <a class="nav-item py-2 text-contrast" href="alter-1.html#">API</a> <a class="nav-item py-2 text-contrast" href="alter-1.html#">Customers</a></nav>
            </div>
            <div class="col-md-2">
                <nav class="nav flex-column"><a class="nav-item py-2 text-contrast" href="alter-1.html#">Careers</a> <a class="nav-item py-2 text-contrast" href="alter-1.html#">Contact</a> <a class="nav-item py-2 text-contrast" href="alter-1.html#">Search</a></nav>
            </div>
            <div class="col-md-2">
                <h6 class="py-2 small">Follow us</h6>
                <nav class="nav justify-content-around"><a href="https://facebook.com/5studios.net" target="_blank" class="btn btn-circle btn-sm brand-facebook"><i class="fab fa-facebook"></i></a> <a href="alter-1.html#" class="btn btn-circle btn-sm brand-twitter"><i class="fab fa-twitter"></i></a> <a href="alter-1.html#" class="btn btn-circle btn-sm brand-instagram"><i class="fab fa-instagram"></i></a></nav>
            </div>
        </div>
        <hr class="mt-5 op-5">
        <div class="row small">
            <div class="col-md-4">
                <p class="mt-2 mb-0 text-center text-md-left">© 2019 <a href="../../index.html">5studios</a>. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
<script src="js/laapp.min.js"></script><!-- Global site tag (gtag.js) - Google Analytics --><script async src="https://www.googletagmanager.com/gtag/js?id=UA-76592740-15"></script><script>window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-76592740-15');
</script>
</body>
</html>
